<%-include("partials/header")-%>
<h1>Hello</h1>
<p><%= startingContent%></p>
<% console.log(posts); %>
<% posts.forEach(function(post){ %>
<% console.log(posts[i].title); %>
<% }} %>
<%-include("partials/footer")-%>
